language: python
sudo: false
python:
  - 2.7
  - 3.5
  - 3.6
  - pypy
matrix:
  include:
    - python: 3.6
      name: "Flake8"
      install:  pip install -U flake8
      script: flake8 --doctests src testproj setup.py
      after_success:
script:
  - coverage run -m zope.testrunner --test-path=src  --auto-color --auto-progress

after_success:
  - coveralls
notifications:
  email: false

install:
  - pip install -U pip setuptools
  - pip install -U coveralls coverage
  - pip install -U -e ".[test,zcml,extract]"


cache: pip

before_cache:
    - rm -f $HOME/.cache/pip/log/debug.log
