[buildout]
develop = .
parts = extract test

[extract]
recipe = zc.recipe.egg:scripts
eggs = zope.app.locales [extract]
scripts = i18nextract
arguments = ['-p', 'testproj/src', '-s', 'testproj/site.zcml',
             '-d', 'testproj']

[test]
recipe = zc.recipe.testrunner
eggs = zope.app.locales [test]
